<app-header></app-header>

<div class="mainContent">

    <div class="informativeCard" *ngIf="!enSala">
        <div class="salas" *ngFor="let Juego of SalasActivas">
            <button class="btn btn-danger botonSala" (click)="irsala(Juego.nombre)">{{ Juego.nombre }}</button>
        </div>
    </div>

    <div class="informativeCard" *ngIf="enSala">
        <div class="infoTitle">
            <h5>{{SalaActiva.nombre}}</h5>
        </div>
        <div *ngFor="let mensaje of mensajes">
            <p>{{mensaje}}</p>
        </div>

        <button class="btn btn-danger" (click)="empezarJuego()">Empezar Juego</button>
    </div>
</div>

<app-footer></app-footer>