<app-header></app-header>

<div class="salaLogBody" *ngIf="!enSala" >
    <div class="salaCode">
        <label for="salaCode">Introduzca el codigo de la sala: </label>
        <input #codigo>
    </div>
    <button id="salaButton" class="btn btn-danger" (click)="ingresar(codigo.value)"> Ingresar</button>
</div>

<div class="selectSala2" *ngIf="enSala">
    <p> Entraste a la sala  "{{SalaActiva.nombre}}" espere a que administrador inicie el juego</p>
</div>

<div *ngIf="enSala && empezo">
    <div *ngFor="let Actividad of Actividades">
        <div class="card" *ngIf="Actividades[contador] == Actividad">
            <div class="card-body">
                <h5 class="card-title">{{Actividad.titulo}}</h5>
                <p class="card-text">{{Actividad.descripcion}}</p>
                <button type="button" class="btn btn-danger" (click)="votarMegusta()">Me gusta</button>
                <span>&nbsp;</span>
                <button type="button" class="btn btn-danger" (click)="votarMedaigual()">Me da igual</button>
                <span>&nbsp;</span>
                <button type="button" class="btn btn-danger" (click)="votarNoMegusta()">No me gusta</button>
                {{display}}
            </div>
        </div>
    </div>
    <div class="card" *ngIf="contador == Actividades.length">
        <h5>Ganaron las actividades:</h5>
        <div *ngFor="let Actividad of mayorPuntaje(); index as i">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{Actividad.titulo}}</h5>
                    <p class="card-text">{{Actividad.descripcion}}</p>
                    <p class="card-text">Puntaje: {{Puntaje[i]}}</p>
                </div>
            </div>
        </div>
    </div>
    <h5 *ngIf="contador == Actividades.length">Resultados:</h5>
    <div class="card" *ngIf="contador == Actividades.length">
        <div *ngFor="let Actividad of Actividades; index as i">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{Actividad.titulo}}</h5>
                    <p class="card-text">{{Actividad.descripcion}}</p>
                    <p class="card-text">Puntaje: {{Puntaje[i]}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>