<app-header></app-header>

<div class="salaLogBody" *ngIf="!enSala && !linkAdmin" >
    <div class="salaCode">
        <label for="salaCode">Introduzca el codigo de la sala: </label>
        <input #codigo>
    </div>
    <div class="userName">
        <label for="userName">Nombre de usuario: </label>
        <input #userName>
    </div>
    <button id="salaButton" class="btn btn-danger" (click)="ingresar(codigo.value)"> Ingresar</button>
</div>

<div class="selectSala" *ngIf="!enSala && linkAdmin">
    <div *ngFor="let Juego of SalasActivas">
        <button class="btn btn-danger" (click)="irsala(Juego.link)">{{ Juego.nombre }}</button>
    </div>
</div>

<div class="selectSala2" *ngIf="enSala && linkAdmin">
    <p> admin y en sala</p>
</div>







<app-footer></app-footer>